*{
  margin: 5px 0px;
  padding: 0;
}
body{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Arial Black", Gadget, sans-serif;
}
p, li{
  font-family: Alial, Helvetica, sans-serif;
}
header, li{
  background-color: #dddddd;
}
header{
  padding: 10px;
}
h1, h2{
  margin-left: 10px;
  padding: 5px;
}
li{
  display: inline-block;
  border: 1px solid gray;
  padding: 5px;
}
section{
  display: inline-block;
  width: 20%;
  vertical-align: top;
  margin-left: 2%;
  margin-right: 2%;
}
@media only screen and (max-width: 905px){
  nav{ display: none; }
  section{
    width:28%;
  }
  section:last-child{
    width: 95%;
  }
}
